
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
}

body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	color: #666;
	background: #DDD;
}

a {
	text-decoration: none;
}


header {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
}

header > h1 {
	margin: 0;
	padding: 0;
}

header > h1 > img {
	width: 64px;
	height: 64px;
	margin: 3px;
	vertical-align: middle;
}

header > h1 > span {
	display: inline-block;
	text-shadow: 1px 1px 0 #FFF;
	vertical-align: middle;
}

header > ul {
	display: -webkit-box;
	margin: -10px 0 0;
	padding: 0;
	border-radius: 5px;
	position: relative;
	bottom: -15px;
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

header > ul > li {
	display: block;
	margin: 0 -1px 0 0;
	padding: 0;
	border: 1px solid #AAA;
	background: -webkit-gradient(linear, left top, left bottom,
		from(#FFF), to(#CCC));
	-webkit-box-sizing: border-box;
	height: 30px;
	line-height: 28px;
	text-shadow: 1px 1px 0 #FFF;
	color: #666;
	position: relative;
	z-index: 1;
}

header > ul > li:first-child {
	border-radius: 5px 0 0 5px;
}

header > ul > li:last-child {
	margin-right: 0;
	border-radius: 0 5px 5px 0;
}

header > ul > li.target,
header > ul > li:active {
	border-color: #00F;
	background: -webkit-gradient(linear, left top, left bottom,
		from(#4AF), to(#44E));
	z-index: 2;
}

header > ul > li.target::before {
	display: block;
	content: "";
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-style: solid;
	border-color: #008 transparent;
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
}

header > ul > li.target::after {
	display: block;
	content: "";
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-style: solid;
	border-color: #FFF transparent;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -1px;
	left: 50%;
}

header > ul > li > a {
	color: #666;
	display: block;
	padding: 0 1.2em;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	font-size: 12px;
}

header > ul > li.target > a,
header > ul > li:active > a {
	color: #FFF;
	text-shadow: 1px 1px #04A;
}


body > section {
	display: none;
	-webkit-box-flex: 1;
	margin: 0 0 15px;
	padding: 32px 16px;
	border: 1px solid #AAA;
	border-radius: 5px;
	width: 778px;
	height: 100%;
	background: #FFF;
	-webkit-box-sizing: border-box;
	font-size: 14pt;
	overflow-y: auto;
	-webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1),
		1px 1px 1px rgba(255, 255, 255, 0.5);
}

body > section:target {
	display: block;
}

body > section::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

body > section::-webkit-scrollbar-thumb {
	margin: 1px;
	border: 2px solid #FFF;
	border-radius: 6px;
	background-color: #CCC;
}

#enabled-service-list, #disabled-service-list {
	display: block;
	margin: 20px auto;
	padding: 0;
	border-radius: 5px;
	width: 420px;
	min-height: 38px;
	background: #FFF;
	-webkit-transition: background 0.5s;
}

.dragging #enabled-service-list,
.dragging #disabled-service-list {
	background: rgba(0, 96, 255, 0.2);
}

.columns-4 #enabled-service-list,
.columns-4 #disabled-service-list {
	width: 560px;
}

.columns-5 #enabled-service-list,
.columns-5 #disabled-service-list {
	width: 700px;
}

#service-item-template {
	display: none;
}

.service-item {
	display: -webkit-inline-box;
	-webkit-box-align: center;
	-webkit-box-sizing: border-box;
	position: relative;
	margin: 1px;
	padding: 1px;
	border: 1px solid #BBB;
	border-radius: 5px;
	width: 138px;
	height: 38px;
	color: #000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
		from(#FFF), to(#DDD));
	text-shadow: 1px 1px 0 #FFF;
	-webkit-user-drag: element;
	cursor: move;
	vertical-align: top;
}

.service-item:-webkit-drag {
	background: #FFF;
}

.columns-3 .service-item:nth-of-type(3n):last-child,
.columns-4 .service-item:nth-of-type(4n):last-child,
.columns-5 .service-item:nth-of-type(5n):last-child {
	margin-bottom: 41px;
}

.service-item img {
	display: block;
	width: 32px;
	height: 32px;
	margin: 1px;
	-webkit-user-drag: none;
}

.service-item span {
	display: block;
	-webkit-box-flex: 1;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	min-height: 16px;
	padding: 0 1em;
	margin: 1px 0;
	-webkit-user-drag: none;
}

.service-item span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h2 {
	display: -webkit-box;
	font-size: 16px;
	line-height: 1.0;
}

h2::after {
	content: "";
	display: block;
	-webkit-box-flex: 1;
	border-top: 1px solid #DDD;
	margin: 7px;
}

p {
	font-size: 14px;
	line-height: 2.4;
}

label {
	display: block;
	font-size: 14px;
	cursor: pointer;
}

label > input, label > span {
	vertical-align: middle;
	line-height: 2.4;
}

label > .msg {
	display: inline-block;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	/* box */
	margin: 1px 10px;
	padding: 2px 1em;
	border-radius: 5px;
	/* text */
	color: #FFF;
	line-height: 1.5;
	font-size: 12px;
	/* background */
	background: -webkit-gradient(linear, left top, left bottom,
		from(#0C0), to(#0A0));
}

label > .msg::after {
	content: "Saved !";
}

label.changed > .msg {
	opacity: 1;
}

select {
	font-size: 14px;
}
