
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
}

body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	color: #666;
	background-attachment: fixed;
	background-image: -webkit-gradient(
		linear, left top, right top, from(#EEE), to(#CCC));
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}


header {
	display: block;
	height: 74px;
	width: 100%;
	border-bottom: 1px solid #888;
}

header > img {
	width: 64px;
	height: 64px;
	margin: 5px;
	vertical-align: middle;
}

header > h1 {
	display: inline-block;
	margin: 0 0.6em;
	line-height: 74px;
	height: 74px;
	text-shadow: 1px 1px 0 #FFF;
	vertical-align: middle;
}

header > ul {
	display: inline-block;
	margin: 50px 0 0;
	padding: 0;
	height: 24px;
	vertical-align: middle;
}

header > ul > li {
	position: relative;
	display: inline-block;
	margin: 0 0 0 0.3em;
	padding: 0;
	border: 1px solid #888;
	border-bottom: 0;
	-webkit-box-sizing: border-box;
	height: 24px;
	background-color: #FFF;
	text-shadow: 1px 1px 0 #FFF;
	z-index: 2;
}

header > ul > li.target {
	top: 1px;
	background-color: #F8F8F8;
}

header > ul > li > a {
	line-height: 24px;
	color: #666;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 1em;
	-webkit-box-sizing: border-box;
}


section {
	display: none;
	-webkit-box-flex: 1;
	margin: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
	-webkit-box-sizing: border-box;
	font-size: 14pt;
	overflow-y: scroll;
	z-index: 1;
}

section:target {
	display: block;
}


table {
	border: 0;
}

table td:first-child {
	text-align: right;
}

input {
	font-size: 14pt;
}

#enabled-service-list, #disabled-service-list {
	display: block;
	margin: 20px auto;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 5px;
	width: 408px;
	min-height: 38px;
}

#service-item-template {
	display: none;
}

.service-item {
	display: -webkit-inline-box;
	-webkit-box-align: center;
	position: relative;
	margin: 1px;
	padding: 1px;
	border: 1px solid #BBB;
	border-radius: 5px;
	width: 130px;
	height: 34px;
	color: #000;
	background-color: #F0F0F0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
		from(#FFF), to(#DDD));
	text-shadow: 1px 1px 0 #FFF;
	-webkit-user-drag: element;
	cursor: move;
	vertical-align: top;
}

.service-item:nth-of-type(3n):last-child {
	margin-bottom: 39px;
}

.service-item img {
	display: block;
	width: 32px;
	height: 32px;
	margin: 1px 3px;
	-webkit-user-drag: none;
}

.service-item span {
	display: block;
	-webkit-box-flex: 1;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	min-height: 16px;
	padding: 0 1em;
	margin: 1px 0;
	-webkit-user-drag: none;
}

h2 {
	text-align: center;
	font-size: 14px;
	line-height: 1.0;
}

p {
	margin: 0.5em;
}

#about > p:first-child {
	margin-bottom: 2em;
}
