<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/option.css">
	<style>
		span {
			display: inline-block;
			margin: 0 0.5em;
			padding: 0 0.5em;
			border-radius: 3px;
			background: linear-gradient(top, #0C0, #0A0);
			background: -webkit-linear-gradient(top, #2C2, #2A2);
			color: #FFF;
			text-shadow: -1px -1px 0 #2A2;
			opacity: 0;
			transition: opacity 0.1s;
			-webkit-transition: opacity 0.1s;
		}

		span.saved {
			opacity: 1;
		}
	</style>
</head>
<body>
	<h1>Security</h1>
	<ul>
		<li><input id="secure-box" type="checkbox" />
		<label for="secure-box">use SSL (https://〜)</label>
		<span id="secure-msg">saved</span>
	</ul>

	<h1>Apperance</h1>
	<ul>
		<li><input id="icon-only-box" type="checkbox" />
		<label for="icon-only-box">show icon only</label>
		<span id="icon-only-msg">saved</span>

		<li><label for="columns-box">columns</label>
		<select id="columns-box">
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<span id="columns-msg">saved</span>
	</ul>

	<script type="text/javascript">
		var backgroundPage = chrome.extension.getBackgroundPage();
		var pref = backgroundPage.pref;


		var secureBox = Q('#secure-box');
		secureBox.checked = pref.get('secure');
		secureBox.addEventListener('change', function(){
			pref.set('secure', secureBox.checked);

			var msg = Q('#secure-msg');
			onSaved(msg);
		}, false);


		var iconOnlyBox = Q('#icon-only-box')
		iconOnlyBox.checked = pref.get('icon-only');
		iconOnlyBox.addEventListener('change', function(){
			pref.set('icon-only', iconOnlyBox.checked);

			var msg = Q('#icon-only-msg');
			onSaved(msg);
		}, false);


		var columnsBox = Q('#columns-box');
		columnsBox.value = pref.get('columns');
		columnsBox.addEventListener('change', function(){
			pref.set('columns', columnsBox.value);

			var msg = Q('#columns-msg');
			onSaved(msg);
		}, false);


		var timeouts = {};
		function onSaved(msg){
			if(msg.id in timeouts){
				clearTimeout(timeouts[msg.id]);
				msg.classList.remove('saved');
				timeouts[msg.id] = setTimeout(function(){
					setSaved();
				}, 100);
			}else{
				setSaved();
			}

			function setSaved(){
				msg.classList.add('saved');
				timeouts[msg.id] = setTimeout(function(){
					msg.classList.remove('saved');
					delete timeouts[msg.id];
				}, 1600);
			}
		}


		window.addEventListener('pref-changed', function(event){
			var key = event.key, value = event.value;

			if(key === 'secure' && secureBox.checked !== value){
				secureBox.checked = event.value;
			}else if(key === 'icon-only' && iconOnlyBox.checked !== value){
				iconOnlyBox.checked = event.value;
			}else if(key === 'columns' && columnsBox.value != value){
				columnsBox.value = event.value;
			}
		});

		function Q(selector){
			return document.querySelector(selector);
		}
	</script>
</body>
</html>

