<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/option.css">
	<script src="/scripts/option.js"></script>
</head>
<body>
	<h1>Security</h1>
	<ul>
		<li><input id="secure-box" type="checkbox" />
		<label for="secure-box">use SSL (https://〜)</label>
		<span class="msg">saved</span>
	</ul>

	<h1>Apperance</h1>
	<ul>
		<li><input id="icon-only-box" type="checkbox" />
		<label for="icon-only-box">show icon only</label>
		<span class="msg">saved</span>

		<li><label for="columns-box">columns</label>
		<select id="columns-box">
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<span class="msg">saved</span>
	</ul>

	<script>
		bind({
			box: Q('#secure-box'),
			valueKey: 'checked',
			prefKey: 'secure'
		});

		bind({
			box: Q('#icon-only-box'),
			valueKey: 'checked',
			prefKey: 'icon-only'
		});

		bind({
			box: Q('#columns-box'),
			prefValue: 'columns'
		});
	</script>
</body>
</html>

